<a href="/electronics" class="brand-logo left">Electronics Home</a>
<ul class="right">
    <li><a href="/electronics/new">Create a New Item</a></li>
    <li><a href="/electronics/setup/seed">Get Inventory</a></li>
    <% if(currentUser) { %>
        <li>Welcome, <%= currentUser.username %> </li>
        <li>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" class="btn-success"/>
            </form>
        </li>
    <% } else { %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/sessions/new">Log In</a></li>
    <%}%>
</ul>