/*insert variables for theme*/


.logo {
    max-width: 32px;
    min-width: 16px;
    height: auto;
}

.container {
    margin-top: 60px;
}

.carousel {
    /*border: 1px dashed blue;*/
    /*margin-top: 10px;*/
    height: 250px;
}

.carousel-inner {
    /*border: 1px dashed green;*/
    display: inline-flex;
    height: 100%;
    overflow: hidden;
    background-color: #777;
}

.carousel-item {
    /*border: 1px dashed red;*/
    height: 100%;
    overflow: hidden;
}

.carousel-caption {
    /*padding-top: 80px;*/
}

#myCategories {
    /*margin-top: 20px;*/
}

.card {
    margin-top: 20px;
}

.card-img-top {
    /*border-top: 1px solid red;*/
    /*width: 22vw !important;*/
    /*height: 20vh !important;*/
}

.my-links {
    color: darkgray;
    text-decoration: none;
    transition-delay: 350ms;
}

.my-links:hover {
    color: green;
    text-decoration: underline;
}

.my-card-img {
    /*min-width: 200px;*/
    height: auto;
    overflow: hidden;
}

.card-title {
    margin-top: 7px;
}

/*NOTE: learned how to use the grid system on w3schools - https://www.w3schools.com/css/css_grid.asp */
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid-item {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

.grid-image, .show-image {
    width: 40vw;
    min-width: 150px;
    height: auto;
}

@media(min-width: 576px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    .grid-image {
        width: 20vw;
        max-with: 200px;
        height: auto;
    }
}

@media(min-width: 768px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
    .grid-image {
        width: 20vw;
        max-with: 250px;
        height: auto;
    }
}