
<% layout("boilerplate") -%>

<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class=""></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner container-fluid">
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Shop Smart</h1>
                        <p>Buy used stuff from your local community.</p>
                        <p><a class="btn btn-lg btn-success" href="/users/new" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                <div class="container">
                    <div class="carousel-caption">
                        <h1>Save Big</h1>
                        <p>Save a ton by negotiating.</p>
                        <p><a class="btn btn-lg btn-success" href="/users/new" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Get Lucky</h1>
                        <p>Find collectibles, electronics, and other treasures.</p>
                        <p><a class="btn btn-lg btn-success" href="/users/new" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <div id="myCategories" class="row">
        <div class="col-sm-4">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <img id="1stPic" src="/images/categories/liz-caldwell-berries-unsplash.jpg" class="card-img-top my-card-img" alt="...">
                    <a class="my-links" href="/fruits"><h6 class="card-title">Fruits</h6></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src="/images/categories/designecologist-computer-unsplash.jpg" class="card-img-top my-card-img" alt="...">
                    <a class="my-links" href="/electronics"><h6 class="card-title">Electronics</h6></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src="/images/categories/lorenzo-herrera-misc-unsplash.jpg" class="card-img-top my-card-img" alt="...">
                    <a class="my-links" href="#"><h6 class="card-title">Misc</h6></a>
                </div>
            </div>
        </div>
    </div>
</main>