<% layout("boilerplate") -%>

<nav>
    <% include ../partials/nav.ejs %>
</nav>
<div class="container">
    <h1>Electronics New Page</h1>
    <form action="/electronics" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name"/>
        <br/>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" required/>
        <br/>
        <label for="color">Color:</label>
        <input type="text" name="color"/>
        <br/>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity"/>
        <br/>
        <label for="price">Price:</label>
        <input type="text" name="price"/>
        <br/>
        <label for="image">Image:</label>
        <input type="text" name="image"/>
        <br/>
        <input type="submit" value="Submit">
        <form>
</div>